---
import Base from '../layouts/Base.astro';
import { Image } from 'astro:assets';
import image from '../images/test.jpg';

---
<Base>
  <div class="wrapper">
    <h1>Image Zoom</h1>
  </div>

  <div class="zoom-container">
    <div class="zoom-sticky">
      <div class="zoom-el">
        <div class="img-container">
          <Image class:list="img" src={image} alt="Image" />
        </div>
      </div>
      <div class="zoom-el">
        <div class="img-container">
          <Image class:list="img" src={image} alt="Image" />
        </div>
      </div>
      <div class="zoom-el">
        <div class="img-container">
          <Image class:list="img" src={image} alt="Image" />
        </div>
      </div>
      <div class="zoom-el">
        <div class="img-container">
          <Image class:list="img" src={image} alt="Image" />
        </div>
      </div>
      <div class="zoom-el">
        <div class="img-container">
           <Image class:list="img" src={image} alt="Image" />
        </div>
      </div>
      <div class="zoom-el">
        <div class="img-container">
           <Image class:list="img" src={image} alt="Image" />
        </div>
      </div>
      <div class="zoom-el">
        <div class="img-container">
           <Image class:list="img" src={image} alt="Image" />
        </div>
      </div>
    </div>
  </div>
</Base>


<script>
  import { animate, scroll } from "motion";

  // Target
  const container = document.querySelector(".zoom-container");
  const zoomEl = document.querySelectorAll(".zoom-el");

  const scaleEndValues = [4.1, 4.5, 4.8, 4.0, 5.0, 4.3, 4.6];

  zoomEl.forEach((element, i) => {

    const scaleStart = 1;
    const scaleEnd = scaleEndValues[i];
    const img = element.querySelector('.img');

    scroll(animate(element, { scale: [scaleStart, scaleEnd ] }, { easing: "ease-out" }), {
      target: container,
      offset: [0.05, 0.7, 0.95 ],
    });

    scroll(animate(img, { scale: [ 1.25, 1 ] }), {
      target: container,
      offset: [ 0, 1 ],
    });
  });
</script>


<style>
  .hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .zoom-container {
    height: 300vh;
    position: relative;
  }
    .zoom-sticky {
      position: sticky;
      height: 100vh;
      top: 0;
      overflow: hidden;
    }
    .zoom-el {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
      .img-container {
        width: 25vw;
        height: 25vh;
        position: relative;
        overflow: hidden;
      }
        .img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        
    .zoom-el:nth-of-type(2) .img-container {
      top: -30vh;
      left: 5vw;
      width: 35vw;
      height: 30vh;
    }

    .zoom-el:nth-of-type(3) .img-container {
      top: -10vh;
      left: -25vw;
      width: 20vw;
      height: 45vh;
    }

    .zoom-el:nth-of-type(4) .img-container {
      top: 27.5vh;
      width: 25vw;
      height: 25vh;
    }

    .zoom-el:nth-of-type(5) .img-container {
      top: 0;
      left: 25vw;
      width: 20vw;
      height: 25vh;
    }

    .zoom-el:nth-of-type(6) .img-container {
      top: 27.5vh;
      left: -30vw;
      width: 30vw;
      height: 25vh;
    }

    .zoom-el:nth-of-type(7) .img-container {
      top: 22.5vh;
      left: 22.5vw;
      width: 15vw;
      height: 15vh;
    }

</style>